.page {
  margin: 0 auto;
  min-height: 100vh;
  font-family:  "Inter", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--white);
  color: var(--black);
}
