.warning {
  padding: 70px 0;
  background-color: var(--green);
  margin: 0;
}

.warning__content {
  width: calc(100% - 2 * 70px);
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.warning__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  'title img'
  'parag img';
  gap: 20px;
  margin: 0;
}

.warning__title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-size: 34px;
  font-weight: 400;
  margin: 0;
  padding: 10px;
}

.warning__paragraph {
  grid-area: parag;
  margin: 0;
  padding: 10px;
  font-size: 18px;
  color: var(--white);
}
/*text-indent: 15px;*/

.warning__img {
  grid-area: img;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--black) 5px 5px 10px;
}

@media screen and (max-width: 1024px) {
  .warning__content {
    width: calc(100% - 2 * 40px);
  }
  .warning__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .warning__content {
    width: calc(100% - 2 * 20px);
  }
  .warning__text {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "img"
    "title"
    "parag";
  }
  .warning__img {
    max-height: 400px;
  }
  .warning__title {
    font-size: 20px;
  }
  .warning__paragraph {
    font-size: 12px;
  }
}