.stage {
  padding: 70px 0;
}

.stage__content {
  width: calc(100% - 2 * 50px);
  max-width: 1280px;
  margin: 0 auto;
}

.stage__title {
  margin: 0 auto 40px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: rgb(83, 180, 101) 1px 2px 3px;
}

.stage__subtitle {
  color: rgb(85, 182, 150);
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.stage__paragraph {
  font-size: 18px;
}
.stage__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.stage__item {
  border: 2px solid grey;
  padding: 15px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  min-width: 184px;
}

@media screen and (max-width: 1200px) {
  .stage__content {
    width: calc(100% - 2 * 20px);
  }
  .stage__list {
    gap: 10px;
    flex-wrap: wrap;
  }
  .stage__item {
    max-width: 380px;
  }
}

@media screen and (max-width: 768px) {
  .stage__list {
    gap: 10px;
    flex-wrap: wrap;
  }
  .stage__title {
    font-size: 22px;
  }
  .stage__subtitle {
    font-size: 18px;
  }
  .stage__paragraph {
    font-size: 16px;
  }
  .stage__item {
    max-width: 100px;
  }
}