.servise {
  padding: 70px 0;
}

.servise__content {
  display: flex;
  flex-direction: column;
  background-color: var(--grean);
  padding: 30px;
}

.service__arrow {
  padding-bottom: 3px;
}

.service__link {
  position: relative;
  display: flex;
  align-self: center;
  gap: 20px;
  margin: 30px 0;
  padding: 30px;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--light-grey);
}

.link {
  text-decoration: none;
  transition: opacity .3s linear;
  cursor: pointer;
}

.link:hover {
  opacity: 0.7;
}
