.footer__copyright {
  margin: 0;
  padding: 50px 50px;
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  align-self: center;
}

@media all and (max-width: 320px) {
  .footer__copyright {
  font-size: 14px;
  }
}
