@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

.body {
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--white);
  color: var(--black);
}

:root {
  --preview-color: rgba(243, 193, 248, 1);
  --white: #FFFFFF;
  --black: #000000;
  --grean: #182718;
  --light-grey: #F2F2F2;
  --dark-grey: #E8E8E8;
  --text-grey: #A0A0A0;
  --movie-grey: #F9F9F9;
  --neon-green: #2BE080;
  --border-color: #E8E8E8;
  --scarlet: #FF4062;
}